{{extend 'layout.html'}}

    <button type="button" class="btn btn-default btn-lg pull-right btn-success" onclick="location.href='{{=URL('add')}}'">
      <span class="glyphicon glyphicon-th glyphicon-star"></span> ADD BUDGET
    </button>


<BR><BR><BR>

{{=list}}
