{{extend 'layout.html'}}
<h1>Edit PO # {{=po}}</h1>

<div class='row'>
    <button type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
</div>
    <BR><BR><BR>
{{=form}}
