{{extend 'layout.html'}}
<h1>Attachments List for 
    {{if details['vendor'] != None:}}
        vendor {{=details['vendor']}}
    {{pass}}
    {{if details['commitment'] != None:}}
        PO # {{=details['commitment']}}
    {{pass}}
    {{if details['invoice'] != None:}}
        invoice # {{=details['invoice']}}
    {{pass}}
    {{if details['budget'] != None:}}
        Budget Comment {{=details['budget']}}
    {{pass}}
    {{if details['project'] != None:}}
        Project {{=details['project']}}
    {{pass}}
</h1>
<div class='row'>
    <button id='confirm' type="button" class="container pull-left btn btn-lg btn-success" 
        onclick="location.href='{{=back}}'">
        < Back
    </button>
    <button id='confirm' type="button" class="container pull-center btn btn-lg btn-success" 
        onclick="location.href='{{=add}}'">
        Attach a file
    </button>
</div>


{{=list}}
